<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p v-for="(aluno,i) in alunos">
            {{i+1}} {{aluno.nome}} - {{aluno.nota}} -
            <span v-if="aluno.nota >= 4"> Quadro De Honra</span>
            <span v-else-if="aluno.nota >=3"> Aprovado</span>
            <span v-else-if="aluno.nota >=2"> Recuperacao</span>
            <span v-else> Reprovado</span>
        </p>

        <ul style="list-style: none;">
            <li v-for="n in 5">{{n}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el: "#app",
            data:{
                alunos:[
                    {nome: 'A', nota: 3},
                    {nome: 'B', nota: 4},
                    {nome: 'C', nota: 2},
                    {nome: 'D', nota: 1}
                ]
            }
        })
    </script>
</body>
</html>